<!doctype html>
<html ng-app="PingCheck">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slither.io Ping Check</title>
    <script src="http://code.angularjs.org/1.5.5/angular.min.js"></script>
    <script src="files/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="files/style.css">
</head>

<body ng-controller="MainCtrl">
    <div class="wrap">
        <header class="text-center">
            <h1>Slither.io Ping Check</h1>
        </header>
        <p class="text-center">
            Finds the least ping server for <a target="_blank" href="http://slither.io">Slither.io</a> game with maximum ping of <em>300ms</em>.
            <br/> Use with the <a target="_blank" href="https://chrome.google.com/webstore/detail/slitherio-mods/cnlenmmkifnhllnjfoangnjokeadhbbk">Slither.io Mod</a> extension for Google Chrome or any similar mods which allows you to input the server address.
        </p>
        <div id="actions" class="text-center">
            <button id="btn-start" class="btn btn-primary" ng-hide="working" ng-disabled="!ready" ng-click="begin();">Start</button>
            <button id="btn-stop" class="btn btn-danger" ng-show="working" ng-click="stop();">Stop</button>
        </div>
        <br/>
        <div id="progress" class="text-center" ng-show="working">
            <span>working . . .  {{count}} / {{allcount}}</span>
            <br/>
            <progress value="{{count}}" max="{{allcount}}"></progress>
        </div>
        <table id="iptable" ng-show="filteredList.length">
            <tr>
                <th>#</th>
                <th>IP Address</th>
                <th>Ping</th>
            </tr>
            <tr ng-repeat="item in iptable | orderBy: 'ping' | filter: isPing as filteredList">
                <td>{{$index + 1}}</td>
                <td>
                    <input class="item-ip" readonly value="{{item.ip}}" select-on-click/>
                </td>
                <td class="item-ping">{{item.ping}}</td>
            </tr>
        </table>
    </div>
    <footer class="text-center">by anuith@<a target="_blank" href="http://www.baagames.com">BaaGames.com</a></footer>

    <p id="disclaimer" class="text-center">
        This tool uses a simple techniques to find amount of time the server responds to http request.
        <br/>The values here may not be real <em>ping</em> of the servers.
        <br/>However this may help find the suitable server for you to play Slither.io game.
    </p>
</body>

</html>