html, body {
    font-family: sans-serif;
}

body {
    background-color: #f4f4f4;
}

a:link, a:link:hover, a:visited {
    color: dodgerblue;
    text-decoration: none;
}

a:link:hover {
    color: crimson;
}

.wrap {
    background-color: white;
    margin: 1em auto;
    padding: 12px;
    max-width: 640px;
    width: 80%;
    box-shadow: 0 2px 5px #888;
    border-radius: 2px
}

.text-center {
    text-align: center;
}

.btn {
    cursor: pointer;
    font-weight: bold;
    background-color: #eee;
    border-radius: 3px;
    border: none;
}

.btn-primary {
    color: white;
    background-color: dodgerblue;
}

.btn-danger {
    color: white;
    background-color: crimson;
}

.btn-info {
    color: white;
    background-color: deepskyblue;
}

#actions .btn {
    min-height: 2.5em;
    min-width: 6em;
    padding: 0.3em;
    line-height: 0.9;
}

#progress progress {
    width: 80%;
    max-width: 640px;
}

#iptable {
    font-family: menlo, consolas, 'courier new';
    margin: auto;
}

#iptable td,
#iptable th {
    text-align: center;
}

#iptable .item-ip {
    padding: 0 0.5em;
    cursor: pointer;
    border: none;
    text-align: right;
}

#iptable .item-ip:hover {
    border-radius: 4px;
    background-color: aliceblue;
}

#iptable .item-ping {
    padding: 0 1.5em;
}

#disclaimer {
    color: #ccc;
    font-size: 0.8em;
    padding: 0.5em;
}

footer {
    color: #888;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5em;
}