body {
    background-color: #f4f4f4;
}

.wrap {
    background-color: white;
    margin: auto;
    padding: 12px;
    max-width: 640px;
    width: 80%;
    box-shadow: 0 3px 5px #888;
    border-radius: 2px
}

#actions .btn {
    padding: 0.5em 3em;
}

#progress progress {
    width: 80%;
    max-width: 640px;
}

#iptable {
    font-family: menlo, consolas, 'courier new';
    margin: auto;
}

#iptable td,
#iptable th {
    text-align: center;
}

#iptable .item-ip {
    padding: 0 0.5em;
    cursor: pointer;
    border: none;
    text-align: right;
}

#iptable .item-ip:hover {
    border-radius: 4px;
    background-color: aliceblue;
}

#iptable .item-ping {
    padding: 0 1.5em;
}

#disclaimer {
    color: #ccc;
    font-size: 0.8em;
    padding: 0.5em;
}

footer {
    background-color: white;
    text-align: center;
}